#pagewrapper{
	width:100%;
}

nav{
background-color: black;
}

h1{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: center;
}

h2{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align:left;
	margin-left:3%;
}
#zoo{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	color:white;
	font-size: 2em;
	display: block;
	
}
@media(max-width: 600px){
	#zoo{
		display: none;
	}
	
	#newest{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		
	}
	iframe{
		width: 80%;
		height: 40%;
	}
	
	#artists{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	.asmall {
		width: 50%;

	}
}

li{
	font-family: Myriad "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	color: black;
}
#artistList{
	width: 90%;
	margin-right:auto;
	margin-left: auto;
	display: flex;
	flex-wrap: wrap;
}

#eventList, #newsList {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

#newsPage{
	background: url("../images/Z.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:cover;
}
.artist{
	width:20%;
	margin: 5%;
}
.artist figcaption{
	text-align: center;
	margin: 2%;
}
.artistPic{
	width: 100%;
	border-radius: 50%;
}
#logo{
width: 50%;
height: 3%;
display: flex;
}
#author{
	width: 15%;
	border-radius: 50%;
	margin-right: 1%;
	margin-left: 3%;
	
}
#logoPic {
    width: 20%;
    height: 10%; }

#about-cover{
	width: 100%;
	margin-top: 0%;
	margin-bottom: 2%;
}

#asmall{
	width: 90%;
	margin-right:auto;
	margin-left: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.asmall{
	width: 20%;
	margin: 2%;
}
.asmall figcaption{
	text-align: center;
	margin: 2%;
}
iframe{
	margin: 1%;
}
article{
	width:90%;
	margin-right: auto;
	margin-left:auto;
}

footer p {
	text-align: center;
	margin:1%;
}
#attr{
	text-align: right;
}

#social{
	width: 20%;
	display: flex;
	margin: 1% auto;
}
